.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 10px;
    max-width: 160px;
    width: 100%;
    max-height: 277px;
    cursor: pointer;

    .image {
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .price {
        color: var(--blue);
        font-size: 14px;
    }

    .button {
        font-size: 16px;
    }

    .title {}
}