.container {
  display: flex;
}

.filterSidebar {
  display: flex;
  width: 220px;
  margin-top: 26px;
  position: sticky;
  top: 26px;
  max-height: calc(100vh - 26px);
}

.mainContent {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  margin-right: 35px;
  margin-top: 33px;
  flex: 1;

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 640px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.cartSidebar {
  margin-top: 33px;
  width: 213px;
  position: sticky;
  top: 33px;
  max-height: calc(100vh - 33px);
}